<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.name, meeting %></td>
        <td><%= meeting.date %></td>
        <td><%= link_to (fa_icon('bars') + ' Rows'), items_path(meeting_id: meeting.id) %></td>
        <td><%= link_to (fa_icon('bars') + ' Details'), meeting.details %></td>
        <td><%= link_to (fa_icon('file') + ' Agenda'), meeting.agenda %></td>
        <td><%= link_to (fa_icon('file') + ' Minutes'), meeting.minutes if meeting.minutes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
