<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Rows</th>
      <th>Details</th>
      <th>Agenda</th>
      <th>Minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.name, meeting %></td>
        <td><%= meeting.date %></td>
        <td><%= link_to 'deets', items_path(meeting_id: meeting.id) %></td>
        <td><%= link_to 'DD', meeting.details %></td>
        <td><%= link_to 'AA', meeting.agenda %></td>
        <td><%= link_to 'MM', meeting.minutes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
