<% header 'Meetings' %>

<section class="filter-simple">
  <div class="button-group buttons-left">
    <select id="meeting-filter" class="dropdown menu button hollow" data-dropdown-menu>
      <option value="all">All &raquo;</option>
      <option value="water">Board Of Water Commissioners</option>
      <option value="charter">Charter Commission</option>
      <option value="city">City Council</option>
      <option value="housing">Housing & Redevelopment Authority</option>
      <option value="legislative">Legislative Hearings</option>
      <option value="library">Library Board</option>
      <option value="licensing">Licensing Hearing</option>
      <option value="organizational">Organizational Committee</option>
    </select>
  </div>
</section>

<table>
  <thead>
    <tr>
      <th>Committee</th>
      <th>Meeting Date</th>
      <th colspan="3" class="text-center">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr class="<%= meeting.hclass %> data">
        <td class="name"><%= link_to (fa_icon('external-link-square') + ' ' + meeting.name), meeting.details, { target: 'blank' } %></td>
        <td class="date"><%= meeting.date %></td>
        <td class="link"><%= link_to (fa_icon('bars') + ' Items'), items_path(meeting_id: meeting.id) %></td>
        <td class="link"><%= link_to (fa_icon('file') + ' Agenda'), meeting.agenda, { download: meeting.filename} %></td>
        <td class="link"><%= link_to (fa_icon('file') + ' Minutes'), meeting.minutes if meeting.minutes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
