<p id="notice"><%= notice %></p>

<p>
  <h1><%= @meeting.name %> on <%= @meeting.date %></h1>
</p>

<p>
  <strong><%= link_to (fa_icon('bars') + ' Rows'), items_path(meeting_id: @meeting.id) %></strong>
</p>

<p>
  <strong><%= link_to (fa_icon('bars') + ' Details'), @meeting.details %></strong>
</p>

<p>
  <strong><%= link_to (fa_icon('file') + ' Agenda'), @meeting.agenda %></strong>
</p>

<% if @meeting.minutes %>
<p>
  <strong><%= link_to (fa_icon('file') + ' Minutes'), @meeting.minutes %></strong>
</p>
<% end %>

<br/>
<%= link_to (fa_icon('arrow-left') + ' Back'), meetings_path %>
