<p id="notice"><%= notice %></p>
<% if params['meeting_id'] %>
  <h1><%= "#{@items.first.meeting.name} on #{@items.first.meeting.date}" %></h1>
<% else %>
  <h1>Items</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th width="130">File Number</th>
      <th>Name</th>
      <th>Type</th>
      <th>Title</th>
      <th>Version</th>
      <th>Action</th>
      <th>Result</th>
      <% unless params['meeting_id'] %>
      <th>Meeting</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.file_number, item %></td>
        <td><%= item.name %></td>
        <td><%= item.item_type %></td>
        <td><%= item.title %></td>
        <td><%= item.version %></td>
        <td><%= item.action %></td>
        <td><%= item.result %></td>
        <% unless params['meeting_id'] %>
        <td><%= link_to "#{item.meeting.name} on #{item.meeting.date}", item.meeting %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
