<p id="notice"><%= notice %></p>
<% h = if params['meeting_id']
      if @items.count.positive?
        "#{@items.first.meeting.name} on #{@items.first.meeting.date} Items"
      else
        m = Meeting.find params['meeting_id']
        "#{m.name} on #{m.date} Items"
      end
    else
      "Items"
    end
  header h
%>
<section class="filter-simple">
  <div class="button-group round buttons-left">
    <select id="item-filter" class="dropdown menu button hollow" data-dropdown-menu>
      <option value="all">All &raquo;</option>
      <option value="approval">Approval of Minutes</option>
      <option value="charter">Charter Commission Items</option>
      <option value="communications">Communications & Receive/File</option>
      <option value="ordinance">Ordinance</option>
      <option value="rlh">Resolution LH</option>
      <option value="rlp">Resolution PH</option>
      <option value="res">Resolution</option>
      <option value="staff">Staff Report</option>
    </select>
  </div>
  <div class="buttons-right">
    <%= link_to 'Meetings', meetings_path, class: 'button hollow' %>
  </div>
</section>

<table>
  <thead>
    <tr>
      <th width="130">File Number</th>
      <th>Name</th>
      <th>Type</th>
      <th>Title</th>
      <th>Version</th>
      <th>Action</th>
      <th>Result</th>
      <% unless params['meeting_id'] %>
      <th>Meeting</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr class="<%= item.hclass %> data">
        <td class="item-name"><%= link_to (fa_icon('external-link-square') + ' ' + item.file_number), item.link, { target: 'blank' } %></td>
          <% link = ItemHelper.loc_link(item)
            if link.size.positive? %>
            <td><%= link_to (fa_icon('external-link-square') + ' ' + item.name), link, { target: 'blank' } %></td>
          <% else %>
            <td><%= item.name %></td>
          <% end %>
        <td><%= item.item_type %></td>
        <td><%= item.title %></td>
        <td><%= item.version %></td>
        <td><%= item.action %></td>
        <td><%= item.result %></td>
        <% unless params['meeting_id'] %>
        <td><%= link_to "#{item.meeting.name} on #{item.meeting.date}", item.meeting %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
