<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Minutes Maid</title>
    <%= favicon_link_tag asset_path('stp_flag-fav.png') %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <%= link_to('Meetings', meetings_path, class: 'button hollow', id: 'meetings-button') unless request.path.match(/meeting/) %>
        <%= link_to 'Items', items_path, class: 'button hollow', id: 'items-button' unless request.path.match(/item/) %>
      </div>
      <% unless request.path.match(/sign_up/) %>
        <div class="top-bar-right">
          <% if user_signed_in? %>
            <b><%= current_user.email %></b> | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Login', new_user_session_path %> | <%= link_to 'Sign up', new_user_registration_path %>
          <% end %>
        </div>
      <% end %>
    </div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <h1><%= image_tag("/assets/stp_flag-60.png", class: "img-responsive") %>&nbsp;&nbsp;<%= content_for?(:header) ? yield(:header) : '' %></h1>

    <%= yield %>

  </body>
</html>
